

.main{
    display: grid;
    grid-template-columns: 5% 75% 20%;
    width: 100%;
    height: 100vh;
    background-color: #333232
}
.left_container,.middle_container, .right_container{
    
    border-right: 1px solid white;
}

.dashboard_title{
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

.left_container{
   
    display: flex;
    flex-direction: column;
    color: white;
}
.left_subcontainer{
    margin-top: 5rem;
}

.div2{
    background: #00bcd4;
    border: none;

}

.dashboard_title_right{
    height: 6rem;
    display: flex;
    flex-direction: column;

}

.each_box{
    width: 90%;
 
    padding: 1rem 0;
    cursor: pointer;
}

.each_box:hover{
    color: tomato;
    border-right: .5rem solid white;
    border-radius: 10px;
}

.first_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin: 0 1rem;
    gap: .5rem;

}

.first_container div{
    
    background-color: white;
    border-radius: 5px;
    padding: 2rem 0;
    border: 1px solid white;
}